---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="twoColumnMasterDetailTable">
        <slot />
    </div>
</BaseLayout>

<style>
    div.twoColumnMasterDetailTable {
        table {
            th,
            td {
                border: 1px solid lightgrey;
                padding: 0;
            }

            tbody > tr > td:nth-child(2) {
                font-size: x-small;
            }
        }
    }
</style>
